<style>
    div{
        background-image: url("https://assets-global.website-files.com/6022985415e9f624cf04c0a3/6022985415e9f60cf304c4e1_5fcb671e819e787f75b071d9_pexels-photo-358636.jpeg");
        height:450px;
        width:450px
        display: block;
    }
    
</style>

<div class="container">
</div>