{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
<div class="container ">
    <div class="row d-flex justify-content-center" style="margin-top:20px">
            <div class="col-md-9" >
            

    <h1 class="text-center" style="color:#CD5C5C;font-weight:bold; font-family:italic">Nous Contacter</h1><i class="d-flex justify-content-center"><hr class="col-md-6" style="color:#800000;font-weight:bold;height:2px;width:95%"></i>
            {{ form(form) }} 
            </div>   
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('ckeditor5/ckeditor.js') }}"></script>
    <script src="{{ asset('js/ckeditor.js') }}"></script>
{% endblock %}